.Movies{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    flex-direction: column;
}
.Movie{
    padding: 50px;
    border-radius: 7px;
    box-shadow: 0 8px 16px lightcyan, 
    0 16px 32px hsla(169, 85%, 54%, 0.598); /* Larger shadow on hover */    
}
.Movie:hover{
    background-color: #b50b0b;
    transform: scale(1.10);
    transition:background-color 2s ease-in-out;
}
