/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
.MainApp{
    border: 13px solid #980FF0 ;
    border-radius: 33px;
    padding: 3%;
    margin: 50px;
    height: 900%;
}