
<div class="BooksCSS">
    <h3>Books: Parent Component</h3>
    <h2>{{fromChildC}}</h2>
    <h2>{{book}}</h2>
    <input type="text" class="form-control form-control-lg" placeholder="Enter Book Name">
    <button type="submit" class="btn btn-primary btn-lg" (click)="updateBook()" [ngModel]="bn">Send To Child</button>
    <button type="submit" class="btn btn-outline-success btn-lg" (click)="IncrementChild()">Increment Child</button>
    <app-book [IncC]="c" [bookname]="book" (myData)="ChildData($event)"></app-book>    
    
</div>
