<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-ms-3 col-3">
                <div class="logo">
                    <img src="" alt="VIGHNAHARTA INFRASTRUCTURES & ENGINEERS PVT.LTD.">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="menu">
                    <ul>
                        <li>Home</li>
                        <li>Services</li>
                        <li>Projects</li>
                        <li>Careers</li>
                        <li>About Us</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <P>My Site</P>
    <p>Count: {{c}}</p>
    <button (click)="getData()">Get Data</button>
</header>