<p>dynamic-css works!</p>
<div class="row">
    <div class="pt-4">
        <div class="pt-3" [ngClass]="strClassName">
            This is Div using [ngClass] Directive - {{strClassName}}
        </div>
        <div [class]="'pt-3 ' + strClassName">
            This is Div using property binding - {{strClassName}}
        </div>
        <div [ngStyle]="{'background-color': strClassName}">
            This is Div using ngStyle Dynamic CSS - {{strClassName}}
        </div>
        <div [style.color]="strClassName">
            This is Div using ngStyle Dynamic CSS - {{strClassName}}
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="pt-3">
        <input type="text" [(ngModel)]="strClassName" placeholder="Enter Bootstrap Class Name">
    </div>
    <div class="pt-3">Enter Css class names into text box that will be applied to above Div</div>
    <div class="pt-3">Try using bg-primary, bg-success or direct color name green etc</div>
</div>