<p>Component inside main App!</p>
<div class="Category">Marathi Movies</div>
<div class="Movies">    
    <app-movie title="Navara Maza Navasacha" [imgURL]="nmn2URL"></app-movie>    
    <app-movie title="Satya Shodhak" [imgURL]="SSURL"></app-movie>    
    <app-movie title="Ek Gadi Baki Anadi" [imgURL]="ekGadiURL"></app-movie>    
    <app-movie title="Zapatlela" [imgURL]="ZapatlelaURL"></app-movie>    
    <app-movie title="Pachhadalela" [imgURL]="PachhadlelaURL"></app-movie>        
</div>
<div class="Category">Hindi Movies</div>
<div class="Movies">    
    <app-movie title="Navara Maza Navasacha" [imgURL]="nmn2URL"></app-movie>    
    <app-movie title="Satya Shodhak" [imgURL]="SSURL"></app-movie>    
    <app-movie title="Ek Gadi Baki Anadi" [imgURL]="ekGadiURL"></app-movie>    
    <app-movie title="Zapatlela" [imgURL]="ZapatlelaURL"></app-movie>    
    <app-movie title="Pachhadalela" [imgURL]="PachhadlelaURL"></app-movie>        
</div>
<div class="Category">Telagu Movies</div>
<div class="Movies">    
    <app-movie title="Navara Maza Navasacha" [imgURL]="nmn2URL"></app-movie>    
    <app-movie title="Satya Shodhak" [imgURL]="SSURL"></app-movie>    
    <app-movie title="Ek Gadi Baki Anadi" [imgURL]="ekGadiURL"></app-movie>    
    <app-movie title="Zapatlela" [imgURL]="ZapatlelaURL"></app-movie>    
    <app-movie title="Pachhadalela" [imgURL]="PachhadlelaURL"></app-movie>        
</div>