<p>Component inside main App!</p>
<div class="Movies">
    <div>inside Main Component</div>
    <app-movie title="FULLSTACK DOT NET DEVELOPER"></app-movie>    
</div>
<hr>
<div class="Movies">    
    <app-movie title="htmlURL"></app-movie>    
    <app-movie title="cssURL"></app-movie>    
    <app-movie title="javascriptURL"></app-movie>    
    <app-movie title="bootstrapURL"></app-movie>    
    <app-movie title="angularURL"></app-movie>    
    <app-movie title="CSharpURL"></app-movie>    
    <app-movie title="aspdotNetURL"></app-movie>    
    <app-movie title="sqlURL"></app-movie>    
</div>